<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>

    <!-- Tell IIS to serve index.php by default -->
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="index.php" />
        <add value="index.html" />
      </files>
    </defaultDocument>

    <!-- Block directory listing -->
    <directoryBrowse enabled="false" />

  </system.webServer>
</configuration>
