<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    
    <handlers>
      <add name="PHP55_via_FastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\php\php-cgi.exe" resourceType="Either" requireAccess="Script" />
    </handlers>
    
    <!-- Default page -->
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="index.php" />
        <add value="index.html" />
      </files>
    </defaultDocument>

    <!-- Disable directory browsing -->
    <directoryBrowse enabled="false" />

    <!-- Bigger uploads (IIS limit) -->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="4294967295" />
      </requestFiltering>
    </security>

  </system.webServer>

  <!-- ASP.NET-style limit (if applicable) -->
  <system.web>
    <httpRuntime maxRequestLength="4194304" executionTimeout="4096" />
  </system.web>
</configuration>
